{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block head_title %}{{ block.super }} - Password Reset{% endblock head_title %}

{% block content %}

<div class="row justify-content-center mt-4">
    <div class="col-4 text-center">
        <p>Enter the email address of the account you wish to change your password for:</p>
        <form method="POST" novalidate>
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" class="btn btn-info" value="reset">
        </form>
    </div>
</div>

{% endblock %}
