{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block head_title %}{{ block.super }} - Change Password{% endblock head_title %}

{% block content %}

<div class="row justify-content-center mt-4">
    <div class="col-6 text-center">
        <p>Enter your current password, for security reasons, and then your new password twice, to check that you have written it down correctly!</p>
        <form class="" method="POST" novalidate>
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" class="btn btn-info" value="Change Password">
        </form>
    </div>
</div>

{% endblock content %}
