{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block head_title %}{{ block.super }} | Edit Post{% endblock head_title %}

{% block content %}
<div class="container my-5 text-center" style = "max-width: 580px;">
        <div class="content-section">
            <form method= "POST">
                   {% csrf_token %}
                <fieldset class="form-group">
                           <div class="border-bottom mb-4">
                           <legend class="border-bottom mb-4">Edit Post</legend>
                           </div>
                             {{ form|crispy }}
                </fieldset>

                <div class="form-group">
                     <button type="submit" class="save btn btn-default btn-secondary">Save</button>
                </div>
            </form>
            <br>
            <div class="border-top pt-3">
                   <small class="text-muted">
                    Your post will be submitted permanently in the Ropsten ETH blockchain! That's so cool, isn't it?
                   </small>
            </div>
           </div>
</div>
{% endblock %}